.inventoryCards {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: auto;
}

.alertInventory {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.btnYear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showMonths {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bodyCard {
  margin-left: 20px;
}


.monthCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
